<div class="col-md-12" id="contenu">
      <div class="row"> 
        <div class="col-md-4 col-offset-4">
          <img class="img-thumbnail" src="ui/Ploc.jpg" alt="Ploc la plante">
        </div>
        <div class="col-md-5 col-offset-2">
            <p class="text-params">toto <span class="info-params">
              {{profiles.name}}</span></p>
            <p class="text-params">toto <span class="info-params">toto</span></p>
            <p class="text-params">toto <span class="info-params">toto</span></p>
            <p class="text-params">toto <span class="info-params">toto</span></p>
        </div>
      </div>
    </div>