<div class="col-md-12" id="contenu">
      <div class="row"> 
        
        <div class="col-md-4 col-offset-4">
          <img class="img-thumbnail" src="ui/Ploc.jpg" alt="Ploc la plante"></img>
        </div>
        
        <div class="col-md-5 col-offset-2">
        	<p class="text-params">Name : <span class="info-params">{{profiles.name}}</span><br></br></p>
            <p class="text-params">Thirstiness : <img class="thirsty" src="ui/{{thirstiness}}.png" alt="{{thirstiness}}"/><br></br></p>
            <p class="text-params">Sunlight : <img class="sun" src="ui/{{sunlight}}.png" alt="{{sunlight}}"/><br></br></p>
            <p class="text-params">Tank level: <img class="tank" src="ui/{{tank}}.png" alt="{{tank}}"/></p>
            <br></br>
            <div class="container-fluid">
          <div class="btn-group pull-left">
            <ul>
              <input id="up" type="button" class="btns" value="Update">
              <input id="water" type="button" class="btns" value="Water">
            </ul>
          </div>
        </div>
        </div>
        </div>

        
      
    </div>
