<div class="col-md-12" id="contenu">
      <div class="row"> 
        <div class="col-md-4 col-offset-4">
          <img class="img-thumbnail" src="ui/Ploc.jpg" alt="Ploc la plante"></img>
        </div>
        <div class="col-md-5 col-offset-2">
        	<p class="text-params">Nom : <span class="info-params">{{profiles.name}}</span></p>
            <p class="text-params">Humidité : <span class="info-params">{{profiles.data.humidity}}</span></p>
            <p class="text-params">Lumière : <span class="info-params">{{profiles.data.light}}</span></p>
            <p class="text-params">Dernier arrosage : <span class="info-params">{{profiles.data.water}}</span></p>
            <p class="text-params">Niveau réservoir: <span class="info-params">{{profiles.data.tank}}</span></p>
        </div>
      </div>
    </div>
